apiVersion: v1
kind: Service
metadata:
  name: litellm-service
  labels:
    app: litellm
spec:
  selector:
    app: litellm
  ports:
    - port: 4000
      targetPort: 4000
      protocol: TCP
      name: http
