apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - cert.yaml
  - ingress.yaml

# Definimos el valor real aquí
configMapGenerator:
  - name: webui-config
    literals:
      - full_domain=ia.kta41.local

# Reemplazo dinámico para evitar hardcoding
replacements:
  - source:
      kind: ConfigMap
      name: webui-config
      fieldPath: data.full_domain
    targets:
      - select:
          kind: Ingress
          name: open-webui-ingress
        fieldPaths:
          - spec.rules.0.host
          - spec.tls.0.hosts.0
      - select:
          kind: Certificate
          name: openwebui-tls
        fieldPaths:
          - spec.dnsNames.0
      - select:
          kind: Deployment
          name: open-webui
        fieldPaths:
          - spec.template.spec.containers.0.env.[name=WEBUI_URL].value
        options:
          delimiter: "//" # Mantiene el "https://" y cambia el resto
          index: 1
